/*==========================
    Menu Page 
===========================*/
.menu {
	@apply flex flex-col items-center justify-center pt-16 md:pt-20 xl:pt-24  relative overflow-hidden;
	&:after {
		@apply absolute top-0 right-0 hidden lg:block w-[140px] h-auto bottom-0 bg-cover bg-no-repeat bg-right;
		content: "";
		background-image: url("../img/right.png");
	}
	&:before {
		@apply absolute top-0 hidden lg:block left-0 w-[140px] h-auto bottom-0 bg-cover bg-no-repeat bg-right;
		content: "";
		background-image: url("../img/left.png");
	}
	&__container {
		@apply container px-4 lg:px-0 mx-auto;
		.section-title {
			@apply max-w-[800px] text-center mx-auto mb-8;
			p {
				@apply max-w-[600px] mx-auto;
				&:last-of-type {
					@apply mb-0;
				}
			}
		}
	}
	&__container__full {
		@apply w-full mx-auto;
	}
}
/*==========================
    Menu dish
===========================*/
.dish {
	@apply flex flex-col justify-start items-start w-full mb-4;
	&__content {
		@apply flex flex-wrap justify-between items-center w-full border-b border-solid border-coarseWool-400 pb-1 mb-1;
	}
	&__title {
		@apply !text-title-5 font-barlow-condensed font-normal mb-0 capitalize;
	}
	&__price {
		@apply text-title-5 font-barlow-condensed font-normal text-calico-500 mb-0;
	}
	&__description {
		@apply w-full text-coarseWool-200 font-sorts-mill-goudy italic text-sm mb-0;
	}
}

/*==========================
    Menu dishes list
===========================*/
.menu__dishes-list {
	@apply flex flex-col items-start justify-start;
}

.menu__dishes-col {
	@apply col-span-1;
}

/*==========================
    Block Menu - two columns 
===========================*/
.menu-block {
	@apply bg-center bg-cover relative bg-no-repeat overflow-hidden border-none;
	background-image: url("/images/bg/bg-menu.jpg");
	@screen md {
		background-attachment: fixed;
		background-position: center 100%;
	}
	&__container {
		@apply container mx-auto py-16 md:py-20 xl:py-28 flex flex-col flex-wrap justify-start items-center relative z-20;
	}
	&__overlayer {
		@apply absolute top-0 bottom-0 left-0 right-0 z-10 w-full h-full bg-coarseWool-900 opacity-90;
	}

	&__dishes {
		@apply grid grid-cols-1 md:grid-cols-2 gap-0 md:gap-6 lg:gap-10 xl:gap-16 w-full px-0 md:px-4 xl:px-16 xl:pt-4 md:pb-10;
	}
	.btn {
		@apply mt-6 md:mt-0;
	}
}

/*==========================
    Block Menu - category 
===========================*/
.menu__category {
	@apply grid grid-cols-12 gap-0 w-full lg:w-10/12 px-0 md:px-4 xl:px-16 xl:pt-0 mx-auto relative z-50 h-auto;
	&-image {
		@apply col-span-12 md:col-span-4 lg:col-span-6 h-full relative overflow-hidden max-h-[320px] md:max-h-[1024px] lg:min-h-[768px] order-1;
		img {
			@apply w-full h-full object-cover object-center;
		}
	}
	&-dishes {
		@apply col-span-12 md:col-span-8 lg:col-span-6 py-12 md:py-16 lg:py-20 xl:py-24 px-0 md:pl-8 md:pr-0 lg:pl-16 xl:pl-24 h-full flex flex-col items-center justify-center order-2;
		.section-title {
			@apply text-left px-0 mb-8 max-w-none;
			&__title {
				@apply !text-title-3 mb-4 w-full font-barlow-condensed font-normal capitalize;
			}
			p {
				@apply p-0;
			}
		}
		.dish:last-of-type {
			@apply mb-0;
		}
	}
	&:nth-child(even) {
		.menu__category-image {
			@apply md:order-2;
		}
		.menu__category-dishes {
			@apply md:order-1 md:pr-8 lg:pr-16 md:pl-0 xl:pr-24;

		}
	}
}

.menu__container__full {
	.section-title {
		@apply !mb-4 !px-6;
	}
	.menu__category {
		@apply w-full px-0;
		&-dishes {
			@apply col-span-12 md:col-span-8 lg:col-span-6 !px-4 sm:!px-8 md:!px-16 lg:!px-20 xl:!px-28;
			.section-title {
				@apply mb-16 !px-0;
			}
		}
		&-image {
			@apply col-span-12 md:col-span-4 lg:col-span-6;
		}
	}
}
