/*==========================
    Services - Ilustrations / Block 
===========================*/
.services-ilustrations {
    @apply py-16 md:py-20 lg:py-24 xl:py-28;
    &__container {
        @apply container mx-auto px-6 sm:px-4;
    }
    &__content {
        @apply grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6;
    }
    &__card {
        @apply pt-6 pb-10 lg:pt-12 lg:pb-16 px-4 bg-coarseWool-700 border border-coarseWool-800 rounded-lg shadow-lg text-center flex flex-col justify-center items-center col-span-1 relative;

        &-ilustration {
            @apply text-6xl text-coarseWool-100 flex flex-col justify-center items-center gap-0 w-[120px] h-[120px] relative z-50;
            img.hover {
                @apply hidden;
            }
        }
        &-info {
            @apply text-coarseWool-100 font-bold mt-4 flex flex-col justify-center items-center gap-4 relative z-50;
            h4 {
                @apply !text-title-4 font-barlow-condensed text-coarseWool-100 font-normal mb-0 capitalize;
            }
            p {
                @apply text-coarseWool-100 text-center mb-0;
            }
        }
        &:hover {
            @apply bg-coarseWool-900;
            .services-ilustrations__card-ilustration {
                img {
                    @apply hidden;
                    &.hover {
                        @apply block;
                    }
                }
            }
        }

        &::before,
        &::after {
            content: "";
            z-index: 10;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border: 1px solid theme("colors.calico.500");
            border-radius: 8px;
            transform: scale(0.2);
            transition: transform 0.4s ease-in-out;
            opacity: 0;
        }
        &::before {
            transform-origin: left top;
            border-right: 0;
            border-bottom: 0;
        }
        &::after {
            transform-origin: right bottom;
            border-top: 0;
            border-left: 0;
        }

        &:hover::before,
        &:hover::after {
            transform: scale(1);
            opacity: 1;
        }
    }
}


/*==========================
    Services - box
===========================*/
.services-box{
    @apply px-0 md:px-2 lg:px-20 xl:px-32 py-6 lg:py-24 xl:py-28;
    .services-ilustrations__content{
        @apply grid-cols-1 sm:grid-cols-2 gap-6;
    }
    .services-ilustrations__card-info{
        @apply md:px-4 lg:px-8 xl:px-24;
        .btn{
            @apply mt-0;
        }
    }
}


/*==========================
    Services - Icons
===========================*/
.services-icons{
    .services-ilustrations__card{
        @apply px-2;
    }
    .services-ilustrations__card-ilustration{
        @apply w-[36px] h-[36px] mb-4;
    }
    .services-ilustrations__card-info{
        h5{
            @apply text-coarseWool-100 !font-normal text-center mb-0;
        }
    }
}