/* ===================================
    Button's
====================================== */
.btn__default{
    @apply  not-italic font-normal transition-all duration-300 ease-in-out border border-solid rounded-full text-button font-josefin-sans text-calico-500 border-calico-500 ;
    padding: 14px 45px 12px 45px;
    letter-spacing: .5px;
    &:hover{
        @apply cursor-pointer bg-calico-500 text-coarseWool-900 ;
    }
    &:focus {
        @apply outline-none ring-2 ring-calico-500;
    }
    &:disabled {
        @apply opacity-50 cursor-not-allowed;
    }
    &:active {
        @apply cursor-pointer bg-calico-500 text-coarseWool-900;
    }
} 

.btn__solid{
    @apply px-8 pt-[12px] pb-[10px] not-italic font-normal transition duration-300 ease-in-out border-2 border-solid rounded-full text-button font-josefin-sans text-coarseWool-900 border-calico-500 bg-calico-500;
    &:hover{
        @apply bg-transparent cursor-pointer border-calico-500 text-calico-500 ;
    }
    &:focus {
        @apply outline-none ring-2 ring-calico-500;
    }
    &:disabled {
        @apply opacity-50 cursor-not-allowed;
    }
    &:active {
        @apply bg-transparent cursor-pointer border-calico-500 text-calico-500 ;
    }
}


.btn-to-top{
    @apply p-4 border-2 border-solid rounded-full text-calico-500 border-calico-500 fixed 
    bottom-16 right-4 opacity-30 hover:opacity-100 cursor-pointer transition-all duration-300 ease-in-out z-50;
}

.btn__link{
	@apply px-4 py-1 not-italic font-normal transition duration-300 ease-in-out !text-base md:!text-button font-josefin-sans text-calico-500 !border-transparent bg-transparent border-b !border-b-calico-500 w-fit inline-block capitalize rounded-none mt-8 relative;
  	letter-spacing: 2px;
  	text-decoration: none;
	&:before,
	&:after{
		content: '';
    	display: block;
    	position: absolute;
    	height: 1px;
    	width: 0;

	}
	&:before{
		transition: width 0s ease,background .4s ease;
		left: 0;
		right: 0;
    	bottom: -8px;
	}
	&:after{
		right: 2.2%;
    	bottom: -8px;
    	background: theme('colors.calico.500');
		transition: width .4s ease;
	}
	
	&:hover{
		@apply bg-transparent cursor-pointer !border-b-calico-500 text-calico-500;
		&:before{
			left:5%;
			width: 90%;
			background: #b2876f;
    		transition: width .4s ease;
		}
		&:after{
			left:5%;
			width: 90%;
    		background: 0 0;
			transition: all 0s ease;
		}
	}

    &:focus {
        @apply outline-none ring-0 !text-calico-500;
    }
    &:disabled {
        @apply opacity-50 cursor-not-allowed !text-calico-500;
    }
    &:active {
        @apply bg-transparent cursor-pointer !border-b-calico-500 text-calico-500 ;
    }
}